.wrapper {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas: "head head head head"
                       "map map map map"
                       "filter filter filter filter"
                       "item item item item"
                       "foot foot foot foot";
  grid-template-rows: 50px 1fr 30px 1fr;
  grid-template-columns: 150px 1fr 1fr 1fr 1fr;
}

.wrapper > .item1 {
  grid-area: head;
  background-color: #8ca0ff;
}

.wrapper > .item2 {
  grid-area: map;
  background-color: #ffa08c;
}

.wrapper > .item3 {
  grid-area: filter;
  background-color: #ffff64;
}

.wrapper > .item4 {
  grid-area: item;
  background-color: #8cffa0;
}

.wrapper > .item5 {
  grid-area: foot;
  background-color: #800040;
}



/* .item-a {
  grid-area: header;
  background-color: red;
}
.item-b {
  grid-area: main;
  background-color: green;
}
.item-c {
  grid-area: sidebar;
  background-color: yellow;
}
.item-d {
  grid-area: footer;
  background-color: blue;
}
.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 20vmin);
  grid-template-rows: repeat(5, 20vmin);
}
.container {
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
} */